* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/fundo-gradiente-suave_77528-21.jpg");
    /* background-image: url("../img/giphy.gif"); */
    background-size: 200vw 200vh ;
    height: 100vh;
    font-family: arial;
  }

  /* Se a tela tiver pelo menos 400px carrega estes estilos */
  @media (min-width:400px) {
    body {
      font-size: 14px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color:white;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    background-color: white;
    transition: 0.3s;
  }

  .menu a:hover {
    background-color: #00ff;
    color: white;
  }
  
  .menu ul {
    display:flex; 
    justify-content: space-around;
    
  }
  
  .menu li {
    list-style:none;
  }

  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .site-subtitle,
  .site-title {
    text-align:center;
    color:whitesmoke;
  }
  
  .site-subtitle {
    font-family:italic; 
  }

  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  .portfolio h2 {
    font-family: 'Share Tech', sans-serif;
    color: whitesmoke;
    font-size: 28px;
    padding-bottom: 1em;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 240px 240px;
  }

    .img-portfolio {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }

   @media (max-width: 380px) {
    .portfolio .grid {
      grid-template-columns: repeat(2,240px);
      justify-content: center;
    }
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: repeat(2,240px);
      justify-content: center;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
    grid-template-columns: repeat(3,240px);
    justify-content: center;
    }
  }

  @media (min-width: 1200px) {
    .portfolio .grid {
    grid-template-columns: repeat(4,240px);
    justify-content: center;
    }
  }


  .portfolio figure {
    text-align: center;
  }